{{ header }}
<div class="pageHead">
    <div class="pageHead__wrap">
        <div class="container">
            {% include template('partial/d_breadcrumb') %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1>{{ heading_title }}</h1>
            </div>
            {% if categories %}
                {% for category in categories %}
                    <div class="col-auto">
                        <a class="pageHead__btn" href="{{ category.href }}">
                            {{ category.title }}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<div class="sStockAndNews section" id="sStockAndNews">
    <div class="container">
        {% if edit %}
            <div class="btn-group btn-group-xs pull-right"><a class="btn btn-default " href="{{ edit }}"
                                                              target="_blank"><i
                            class="fa fa-pencil"></i> {{ text_edit }}</a></div>
        {% endif %}
        {% if (thumb and setting.category.image_display) %}
            <div class="image"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}"
                                    class="img-responsive"/>
            </div>
        {% endif %}
        {% if description %}
            <div class="description">{{ description }}</div>
        {% endif %}
    </div>
    <div class="container">
        {% if posts %}
            {% include template(layout_template) with posts %}
        {% endif %}
        {% if not posts %}
            <p class="bm-empty">{{ text_empty }}</p>
            <div class="buttons">
                <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
            </div>
        {% endif %}
    </div>
</div>
{{ footer }}
