{{ header }}
<div class="pageHead">
    <div class="pageHead__wrap">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
                    {% for breadcrumb in breadcrumbs %}
                        <li class="breadcrumb-item">
                            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        </li>
                    {% endfor %}
                </ol>
            </nav>
        </div>
    </div>
</div>
<section class="sLK section" id="sLK">
    <div class="container">
        <div class="row">

            <div class="sLK__col col-lg-3">
                <div class="section-title section-title--bonuses d-lg-none">
                    <h1>{{ heading_title }}</h1>
                </div>
                {{ column_left }}
            </div>

            <div class="col">

                <div class="sLK__wrap">
                    <div class=" d-none d-lg-flex">
                        <h1>{{ text_address_book }}</h1>
                    </div>
{#    ********************************************************************                #}
                    {% if addresses %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                {% for result in addresses %}
                                    <tr>
                                        <td class="text-left">{{ result.address }}</td>
                                        <td class="text-right"><a href="{{ result.update }}" class="btn btn-info">{{ button_edit }}</a> &nbsp; <a href="{{ result.delete }}" class="btn btn-danger">{{ button_delete }}</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% else %}
                        <p>{{ text_empty }}</p>
                    {% endif %}
{#    ********************************************************************                #}
                    <a href="{{ add }}" class="btn btn-primary">{{ button_new_address }}</a>



                </div>

            </div>


        </div>
    </div>
</section>
{{ content_bottom }}
{{ footer }}