{{ header }}
<div class="pageHead">
  <div class="pageHead__wrap">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
          {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item">
              <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            </li>
          {% endfor %}
        </ol>
      </nav>
    </div>
  </div>
</div>

{{ content_top }}
<section class="sLK section" id="sLK">
  <div class="container">
    <div class="row">

      <div class="sLK__col col-lg-3">
        <div class="section-title section-title--bonuses d-lg-none">
          <h1>{{ heading_title }}</h1>
        </div>
        {{ column_left }}
      </div>

      <div class="col">

        <div class="section-title section-title--bonuses d-none d-lg-block">
          <h1>{{ heading_title }}</h1>
        </div>

        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
          <fieldset>
            <legend>{{ text_password }}</legend>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-password">{{ entry_password }}</label>
              <div class="col-sm-10">
                <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                {% if error_password %}
                  <div class="text-danger">{{ error_password }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-confirm">{{ entry_confirm }}</label>
              <div class="col-sm-10">
                <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" />
                {% if error_confirm %}
                  <div class="text-danger">{{ error_confirm }}</div>
                {% endif %}
              </div>
            </div>
          </fieldset>
          <div class="buttons clearfix">
            <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
            <div class="pull-right">
              <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
            </div>
          </div>
        </form>

      </div>

    </div>
  </div>
</section>
{{ column_right }}
{{ content_bottom }}
{{ footer }}