{{ header }}
<div class="pageHead">
    <div class="pageHead__wrap">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        <li class="breadcrumb-item">
                            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        </li>
                    {% endfor %}
                </ol>
            </nav>
        </div>
    </div>
    {% if categories %}
        <div class="container">
            <div class="sliderCategory sliderCategory--catalog">
                <div class="swiper-container sliderCategory-js">
                    <div class="swiper-wrapper">

                        {% for category in categories %}
                            <div class="swiper-slide">
                                <a class="sliderCategory__slideWrap" href="{{ category.href }}">
                                    {% if category.thumd %}
                                        <picture>
                                            <img class="swiper-lazy" src="#" data-src="{{ category.thumd }}"
                                                 alt="{{ category.name }}"/>
                                        </picture>
                                    {% endif %}
                                    <span class="sliderCategory__title">{{ category.name }}</span>
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{{ content_top }}
<div class="container" id="content">
    <div class="row">
        <div class="col-lg-3">
            {{ column_left }}
        </div>
        <div class="col">
            <section class="sCatalog section" id="sCatalog">
                <div class="section-title">
                    <h1>{{ heading_title }}</h1>
                    <div class="section-title__quantity">
                        {{ totalProduct }}
                    </div>
                </div>
                {% if thumb or description %}
                    <div class="row">
                        {% if description %}
                            <div class="col-sm-10">{{ description }}</div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if products %}
                    <div class="sCatalog__sortWrap d-flex align-content-center flex-lg-nowrap">
                        <p>{{ text_sort }}</p>
                        <select id="input-sort" class="form-control" onchange="location = this.value;">
                            {% for sorts in sorts %}
                                {% if sorts.value == '%s-%s'|format(sort, order) %}
                                    <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                {% else %}
                                    <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        {% for product in products %}
                            <div class="col-6 col-lg-4">
                                {% include template('product/list_product') %}
                            </div>
                        {% endfor %}
                    </div>
                    {{ pagination }}
                {% endif %}
                {{ column_right }}
            </section>
        </div>
    </div>
</div>
{{ content_bottom }}
<div class="modal-win" id="modal-basket" style="display: none">
    <div class="modal-win__title text-center">
        Додано в кошик
    </div>
    <div class="modal-win__youOrder">
        <div class="row" id="CartPopup">
        </div>
    </div>
    <div class="modal-win__links">
        <button class="modal-win__proceed" type="button" data-fancybox-close="" title="Закрыть">
            Продовжити покупки
        </button>
        <a class="modal-win__toBasket" href="{{ cartLink }}">Перейти в корзину</a>
    </div>
        <section class="sBuyWith section d-none d-lg-block" id="sBuyWith">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Разом з цим товаром купують</h2>
                </div>
                <div class="sBuyWith__slider" id="CartSliderWrapCat">
                    <div class="swiper-container buy-with-slider-js buy-with-slider-js" id="CartSliderCat">
                        <div class="swiper-wrapper" id="RealetedCategory">
                        </div>
                    </div>
                    <div class="swiper-prev-frame buy-with-prev buy-with-prev">
                        <svg class="icon icon-chevron-left ">
                            <use xlink:href="/catalog/view/theme/eppl/img/svg/sprite.svg#chevron-left"></use>
                        </svg>
                    </div>
                    <div class="swiper-next-frame buy-with-next buy-with-next ">
                        <svg class="icon icon-chevron-right ">
                            <use xlink:href="/catalog/view/theme/eppl/img/svg/sprite.svg#chevron-right"></use>
                        </svg>
                    </div>
                    <div class="swiper-pugin-frame buy-with-pugin d-md-none"></div>
                </div>
            </div>
        </section>
</div>

{{ footer }}
