<div class="catalogItem">
    <div class="catalogItem__imgWrap">
        {% if product.thumb %}
            <a href="{{ product.href }}">
                <picture class="lazy">
                    <img src="#" data-src="{{ product.thumb }}" alt="{{ product.name }}"
                         title="{{ product.name }}"/>
                </picture>
            </a>
        {% endif %}

        <div class="catalogItem__colors">

            {% if product.Colir_Array['color'] %}
                <div class="catalogItem__colorItem"
                     style="background-color: {{ product.Colir_Array['color'] }};"></div>
            {% endif %}
            {% if product.color_products %}
                {% for color_product in product.color_products %}
                    <a class="catalogItem__colorItem" href="{{ color_product['href'] }}"
                       style="background-color: {{ color_product['color'] }};display: block;"></a>
                {% endfor %}
            {% endif %}

        </div>
    </div>
    <a class="catalogItem__title" href="{{ product.href }}">{{ product.name }}</a>

{#  накопитель старт   #}
    {% if product.array_products %}
        <div class="catalogItem__memoryWrap">
            {% for item in product.array_products %}
                {% if item.href %}
                    <a class="catalogItem__memory" href="{{ item.href }}">
                        {{ item.array }}
                    </a>
                {% else %}
                    <a class="catalogItem__memory" href="#" onclick="return false;"
                       style="background-color: rgb(116 220 0);">
                        {{ item.array }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{#  накопитель    #}


{#  размер start    #}

    {% if product.size_products %}
        <div class="catalogItem__memoryWrap">
            {% for item in product.size_products %}
                {% if item.href %}
                    <a class="catalogItem__memory" href="{{ item.href }}">
                        {{ item.array }}
                    </a>
                {% else %}
                    <a class="catalogItem__memory" href="#" onclick="return false;"
                       style="background-color: rgb(116 220 0);">
                        {{ item.array }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{#  размер end    #}

    <div class="catalogItem__priceWrap">
        {% if product.price %}
            {% if not product.special %}
                <div class="catalogItem__price">
                    {{ product.price }}
                </div>
            {% else %}
                <div class="catalogItem__price">
                    {{ product.special }}
                </div>
                <div class="catalogItem__oldPrice">
                    {{ product.price }}
                </div>
            {% endif %}
            {% if product.tax %}
                <div class="catalogItem__price">
                    {{ text_tax }} {{ product.tax }}
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="catalogItem__buttonsWrap">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm">
                <a class="catalogItem__btn"
                   onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');return false;"
                   href="#">{{ button_cart }}
                </a>
            </div>
            <div class="col-2 order-sm-first text-right">
                <button onclick="compare.add('{{ product.product_id }}');"
                        class="catalogItem__busket" type="button">
                    <svg class="icon icon-basket ">
                        <use xlink:href="/catalog/view/theme/eppl/img/svg/sprite.svg#basket"></use>
                    </svg>
                </button>
            </div>
            <div class="col-2">
                <button class="catalogItem__like"
                        onclick="wishlist.add('{{ product.product_id }}');"
                        type="button">
                    <svg class="icon icon-heart ">
                        <use xlink:href="/catalog/view/theme/eppl/img/svg/sprite.svg#heart"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>